{% extends 'base.html' %}
{% block title %} Contatti {% endblock %}

{% block content %} 
<h1>compila il form per contattarci</h1>

<form action="{% url 'contact' %}" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}
    
    <p>
        {{form.name.label_tag}} {{ form.name }}
        <div style="color: red;">{{ form.name.errors }}</div>
    </p>

    <p>
        {{form.email.label_tag}} {{ form.email }}
        <div style="color: red;">{{ form.email.errors }}</div>
    </p>

    <p>
        {{form.message.label_tag}} {{ form.message }}
        <div style="color: red;">{{ form.message.errors }}</div>
    </p>

    <button type="submit">invia</button>
</form>
{% endblock %}
